ul {
  li {
    padding: 10px 20px;
    display: inline-block;
    &:hover {
      //fait référence à l'élément parent (li)
      background-color: var(--secondary);
    }
    transition: background-color 0.4s;
  }
}

nav {
  background: var(--primary);
  color: white;
  .logo {
    font-size: 18px;
    font-weight: 700;
  }
}
